body {
   /* background-color: #33cccc;*/
   background-color: white;
}
h1 {
    padding: 20px;
}
.LogoImg {
    /*Centers logo */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
.Navbar, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #dddddd;
    overflow: hidden;
    position: fixed;
}
.Navbar, li {
    display: inline;
}
.Navbar, li, a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.Navbar a:hover {
    background-color: #111;
}


