.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Media queries styled for when the screen is on a laptop or desktop */
@media only screen and (min-width: 760px) {
  /*Styles to underline the navigation items when their active*/
  .active li {
    text-decoration: underline;
  }
  .inactive {
    text-decoration: none;
  }
  .fa-Bars {
    display: none;
  }
  .fa-Magnifying-Glass {
    background-color: #ffccff;
    border: none;
    margin-top: 0.9%;
  }
  .fa-Magnifying-Glass-Icon {
    color: #33cccc;
  }
  .fa-Times {
    display: none;
  }
  .fa-User {
    background-color: white;
    border: none;
    padding: 0;
  }
  #logo {
    position: relative;
    left: 41%;
    color: #33cccc;
  }

  .NavMenu {
    background-color: #ffccff;
    width: 100%;
    
  }
   .NavMenu, li {
    float: left;
    display: block;
    padding: 14px 16px; 
    color: #33cccc;
    font-weight: bold;font-size: large;
  }
#NavItem {
    position:relative;
    left: 35%;
  }
}

/*Media Queries styled for mobile screens*/
@media only screen and (max-width: 500px) {
  /*These styles are for the NavLink tags*/
  .active {
    text-decoration: underline;
    color: #33cccc;
  }
  .inactive {
    text-decoration: none;
    color:#33cccc
  }

  /* Style to change the color of the menu bars icon */
  .fa-bars-icon {
    color: #33cccc;
  }
  .fa-Bars {
    border: hidden;
    background-color: #ffccff;
  }
  .fa-Magnifying-Glass {
    background-color: #ffccff;
    border: none;
    position: absolute;
    margin-left: 45%;
    bottom: 130%;
  }
  .fa-Magnifying-Glass-Icon {
    color: #33cccc;
  }
  .fa-Times {
    border: hidden;
    background-color: #ffccff;
  }
  .fa-Times-Icon {
    color:#33cccc;
  }
  /*Changes the color and moves the logo to the middle of the mobile screen*/
  #logo {
    position: relative;
    color: #33cccc;
    left: 20%;
  }
  /*These styles below are the reason the background is the color that it is*/
  /*Also is the reason why the navbar covers the entire width of the screen.*/
  /*Note: removing the overflow value will cause the width to go beyond its normal width of the screen*/
  .Navbar {
    background-color: #ffccff;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  /*Places the button that contains the Times icon*/
  .Navbar .fa-Times {
    position: absolute;
    left: 5%;
    /*Moving the icon via top method causes problems with its placement*/
    /*Setting it to 0 and using the Margin-top fixes this placement issue*/
    top: 0;
    margin-top: 8%;
    color: #33cccc;
    visibility: hidden;
  }
  .Navbar .fa-Bars {
    position: absolute;
    left: 5%;
    top: 0;
    margin-top: 8%;
    color: #33cccc;
    visibility: visible;
  }
 
  .NavMenu li{
    background-color: #ffccff;
    padding: 14px 16px;
    display: block;
    position: relative;
    left: 29%;
    top: 50%;
  }

  #NavItem  {
    color:#33cccc;
    font-weight: bold;
    display: none;
    
  }
  #search-Bar {
    position: relative;
    right: 15%;
  }
} 
