.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Media queries styled for when the screen is on a laptop or desktop */
@media only screen and (min-width: 760px) {
  .fa-Bars {
    display: none;
  }
  #logo {
    position: relative;
    left: 41%;
  }

  .NavMenu {
    background-color: #ffccff;
    width: 100%;
    
  }
   .NavMenu, li {
    float: left;
    display: block;
    padding: 14px 16px; 
    color: #33cccc;
    font-weight: bold;font-size: large;
  }
#NavItem {
    position:relative;
    left: 35%;
  }
}

/*Media Queries styled for mobile screens*/
@media only screen and (max-width: 500px) {
  .Navbar .fa-Bars {
    position: relative;
    left: 5%;
    top: -50px;
    color: #33cccc;
  }
  #logo {
    position: relative;
    color: #33cccc;
    left: 20%;
  }
  .Navbar {
    background-color: #ffccff;
    position: absolute;
    width: 100%;
    overflow: hidden;
  }

  .NavMenu li {
    background-color: #ffccff;
    padding: 14px 16px;
    display: block;

  }

  #NavItem {
    color:#33cccc;
    font-weight: bold;
    position: relative;
    left: 29%;
    display: none;
    
  }

} 
