
@{
    ViewData["Title"] = "BrownieChocolateChipCookie";
}

<h1>BrownieChocolateChipCookie</h1>
<div class="BrownieChocChipCookie">
    <img id="SingleCookie" src="~/images/Broo.jpg" />
    <img id="PackageCookie" src="~/images/brookies1.jpg" />
    <div class="dropdown">
        <button class="DropBtn">Cookie Sizes</button>
        <div class="DropdownContext">
            <a>Single Cookie $1.29</a>
            <a>Half Dozen Package (6 Cookies) $5.99</a>
            <a>Dozen Package (12 Cookies) $11.99</a>
        </div>
    </div>
    <button class="Add_Cart_Btn">Add to Cart</button>
</div>
