
@{
    ViewData["Title"] = "BrownieChocolateChipCookie";
}

<h1>BrownieChocolateChipCookie</h1>
<div class="ProductsPageImg">
    <img id="SingleCookie" src="~/images/Broo.jpg" />
    <img id="PackageCookie" src="~/images/brookies1.jpg" />
    <label for="BrownieCookiePacks">Please pick package size</label>
    <select id="PackageOptions" name="BrownieCookies">
        <option value="1Pack">Single Cookie $1.29</option>
        <option value="6Pack">6 Cookies $5.99</option>
        <option value="12Pack">12 Cookies $10.99</option>
        <option value="24Pack">24 Cookies $20.99</option>
        <option value="48Pack">48 Cookies $40.99</option>
    </select>
    <button onclick="OptionSelection()">Show Me</button>
    <button class="Add_Cart_Btn">Add to Cart</button>
</div>
