
@{
    ViewData["Title"] = "OreoMacaron";
}

<h1>OreoMacaron</h1>
<div class="ProductsPageImg">
    <img class="OreoMacaronPic" src="~/images/Oreo-Macarons.jpg" />
</div>
<label for="OreoMacarons">Please pick the Size</label>
<select id="OreoMacarons" name="Macarons">
    <option value="4Pack">4 Pack $6.99</option>
    <option value="6Pack">6 Pack $8.99</option>
</select>

