
@{
    ViewData["Title"] = "Bakery";
}

<h1>Bakery</h1>


<div class="CookieOptions">
    <h2 id="BakeryCookies">Cookies</h2>
    <ul class="CookiesDescriptions">
        <li>
    <a asp-controller="Product" asp-action="BrownieChocolateChipCookie"><img class="ProductImages" src="~/images/Broo.jpg" /></a>
    <h3>Chocolate Chip Brownie Cookie</h3>
    <p>The classic chocolate chip cookie, mixed with brownie. For a nice soft chocolatity taste.</p>
        </li>
        <li>
            <a asp-controller="" asp-action=""><img class="ProductImages" src="~/images/ChocolateChipCookies.png" /></a>
            <h3>Classic Chocolate Chip Cookies</h3>
            <p>The original, the classic, the one no one can live without. Our classic choclate chip cookie
                will have you ready to order some more. </p>
        </li>
    </ul>
</div>


<h2>Cakes</h2>

<h2 id="BakeryMacarons">Macarons</h2>
<div class="MacaronOptions">
    <a asp-controller="Product" asp-action="OreoMacaron"><img class="ProductImages" src="~/images/Oreo-Macarons.jpg" /></a>
    <h3>Oreo Macarons</h3>
    <div class="dropdown">
        <button class="DropBtn">Package Sizes</button>
        <div class="DropdownContext">
            <a>4 Macarons $5.99</a>
            <a>6 Macarons $7.99</a>
        </div>
    </div>
</div>
