
@{
    ViewData["Title"] = "Index";
}
<h2 id="HomepageHeading">Welcome to Keagen's Bakery, please take a look at our delicious new items.</h2>
<!--Container for the slide show-->
<div class="Slideshow-Container">
    <!--The Images of current baked goods-->
    <div class="BakerySlides fade">
       <a asp-controller="Home" asp-action="Bakery"><img src="~/images/ChocolateChipCookies.png" id="frontpageCookies" /></a>
        <p class="SlideCaptions">Chocloate Chip heaven</p>
    </div>
    <div class="BakerySlides fade">
        <a asp-controller="Home" asp-action="Bakery"><img src="~/images/Macaron.png" id="frontpageCase" /></a>
        <p class="SlideCaptions">Variety of Macarons!</p>
    </div>

    <a class="prev">&#10094;</a>
    <a class="next">&#10095;</a>
</div>

