
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<!--Container for the slide show-->
<div class="Slideshow-Container">
    <!--The Images of current baked goods-->
    <div class="BakerySlides fade">
       <img src="~/images/Cookies.jpg" />
        <p class="SlideCaptions">Chocloate Chip heaven</p>
    </div>
    <div class="BakerySlides fade">
        <img src="~/images/Bakeyimages.jpg" />
        <p class="SlideCaptions">Baked goods made daily</p>
    </div>

    <a class="prev">&#10094;</a>
    <a class="next">&#10095;</a>
</div>

