
@{
    ViewData["Title"] = "SignIn";
}

<h1>Sign In</h1>
<form>
    <label for="email">Email:</label><br />
    <input type="text" id="email" name="email" /><br />
    <label for="Password:">Password</label><br />
    <input type="password" id="userPassword" name="userPassword" /><br />
    <input type="submit" value="Login" />
    <p1>Not sign up? click this button to become a Bakery member! --></p1>
   <a asp-controller="Home" asp-action="SignUp"><input type="button" value="Sign up"/></a>
</form>
