<!DocType html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>@ViewData["Title"] - KeagensBakery</title>
</head>
<body>
    <header>
        <img class="LogoImg" src="~/images/KeagensLogo (2).png" />
        <div class="Container">
            <ul class="Navbar">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="dropdown">
                    <a class="DropBtn" asp-area="" asp-controller="Home" asp-action="Bakery">Bakery</a>
                    <div class="DropdownContext">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </li>
                <li><a asp-controller="Home" asp-action="SignIn">Sign In</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li class="dropdown">
                    <a class="DropBtn" asp-area="" asp-controller="Customers" asp-action="">Account</a>
                    <div class="DropdownContext">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    @RenderBody()
    <footer>
        <p>&copy; 2021</p>
    </footer>
    <script src="~/js/Scripts.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
